{% extends "base.html" %}
{% block content %}
	{% set page = 'browse' %}
	<div class="sidebar">
		{% include "sidebar.html" %}
	</div>

	<div class="submenu">
		<div class="section"><p class="center heading">Filter</p></div>

		<div class="section">
			<p class="heading">Collection</p>
			<p><a {% if filters['have'] %}class="active"{% endif %} href="?have=1">Cards Owned</a></p>
			<p><a {% if filters['need'] %}class="active"{% endif %} href="?need=1">Cards Wanted</a></p>
		</div>

		<div class="section">
			{% if colors %}
				<p class="heading">Colour</p>
				{% for color in colors %}
					<p><a {% if color in filters['color'] %}class="active"{% endif %} href="?color={{color}}">{{color}}</a></p>
				{% endfor %}
			{% endif %}
		</div>

		<div class="section">
			{% if types %}
				<p class="heading">Type</p>
				{% for type in types %}
					<p><a {% if type in filters['type'] %}class="active"{% endif %} href="?type={{type}}">{{type}}</a></p>
				{% endfor %}
			{% endif %}
		</div>

		<div class="section">
			{% if sets %}
				<p class="heading">Set</p>
				{% for set in sets %}
					<p><a {% if set in filters['set'] %}class="active"{% endif %} href="?set={{set}}">{{set}}</a></p>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<div class="subcontent">
		<table>
			{% for section in sections %}
				<tr><th colspan={{headers|length}}>{{section}}</th></tr>
				<tr style="height: 30px;">{% for column in headers %}<th>{{column}}</th>{% endfor %}</tr>
				{% for card in cards[section] %}
					<tr>
						{% for column in card %}
							<td {% if headers[loop.index0] not in ['Card Name', 'Color', 'Type'] %} style="text-align: right" {% endif %}>{{column}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				{% if not loop.last %}
					<tr style="height: 40px;"><td colspan={{headers|length}}></td></tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}

