{% extends "base.html" %}
{% block content %}
	<script type="text/javascript">
		function update() {
			// Submit the form.
			$("#details").submit()
		}
	</script>

	{% set page = 'details' %}
	<div class="sidebar">
		{% include "sidebar.html" %}
	</div>



	<!--
	Allows you to edit how many you have/want for each printing.
    Button to save have/want.
    Button to update card (fetching all editions,  (then refresh the page).
    Button to manually add an edition (select from dropdown).
	Button to remove from collection.
	-->



	<div class="content">
		<form action="" method="POST" name="details" id="details">
			<table>
				<tr>
					<td colspan="2">{{card['name']}}</td>
					<td></td>
					<td colspan="2" style="text-align: right;">{% if card['cost'] %}{{card['cost']|safe}}{% endif %}</td>
				</tr>
				<tr>
					<td colspan="2">{{card['type']}}</td>
					<td></td>
					<td colspan="2" style="text-align: right;">{% if card['power'] %}{{card['power']}}/{{card['toughness']}}{% endif %}</td>
				</tr>

				<tr style="height: 40px;"><td colspan="5"></td></tr>
				<tr>
					<td {% if card.important %}class="important"{% endif %}>{{form.want.label}}</td>
					<td style="text-align: right;">{{form.want}}</td>
					<td></td>
					<td>{{form.important.label}}</td>
					<td style="text-align: right;">{{form.important}}</td>
				</tr>
				<tr>
					<td {% if card.uncertain %}class="uncertain"{% endif %}>Have</td>
					<td style="text-align: right;">{{card.have}}</td>
					<td></td>
					<td>{{form.uncertain.label}}</td>
					<td style="text-align: right;">{{form.uncertain}}</td>
				</tr>

				<tr style="height: 40px;"><td colspan="5"></td></tr>
				<tr>
					<td colspan="5">
						<!-- links -->
					</td>
				</tr>

				<tr style="height: 40px;"><td colspan="5"></td></tr>
				{% for edition in card['editions'] %}
					<tr>
						<td colspan="2">{{edition['set']}}</td>
						<td colspan="3" rowspan="5"><div class="card_image"><img src="{{edition['image_url']}}" /></div></td>
					</tr>
					<tr>
						<td>Collector Number</td>
						<td>{{edition['collector_number']}}</td>
					</tr>
					<tr>
						<td>Rarity</td>
						<td>{{edition['rarity']}}</td>
					</tr>
					<tr>
						<td>Price</td>
						<td>{{edition['price']}}</td>
					</tr>
					<tr>
						<td {% if card.important %}class="important"{% endif %}>{{form[edition['set']].label}}</td>
						<td style="text-align: right;">{{form[edition['set']]}}</td>
					</tr>

					{% if not loop.last %}
						<tr style="height: 40px;"><td colspan={{headers|length}}></td></tr>
					{% endif %}
				{% endfor %}
			</table>
		</form>
	</div>
{% endblock %}

